.box{
    height: 80vh;
    width: 60vw;
    
    margin: auto;
    margin-top: 10vh;
}
.example-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
  }  
  .example-full-width {
    width: 100%;
  }
  div button{
      position: relative;
      margin-left: 45%;
      margin-top: 5vh;
}
div input{
    height: 5vh;
    font-size: medium;
  }
  div .label{
    margin-left: 40%;
    font-size: large;
  }
  div :placeholder-shown{
    margin-left: 37%;
    font-size: large;
  }
  /* .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  } */
  
  @media only screen and (max-width:500px)  {

    .box{
      height: 130vh;
      width: 70vw;
      border: 2px solid red;
      margin-top: 10vh;
      box-sizing: content-box;
  }
  .example-full-width {
    width: 100%;
  }
  div :placeholder-shown{
    margin-left: 25%;
    font-size: small;
    color: black;
  }
  div input{
    height: 5vh;
    font-size: small;
    
  }
  div .label{
    margin-left: 40%;
    font-size: medium;
    color: blue;
  }
  div :placeholder-shown{
    margin-left: 30%;
    font-size: medium;
    color: black;
  }
  div button{
    position: relative;
    margin-left: 30%;
    margin-top: 5vh;
}
.example-form {
  min-width: 100px;
  max-width: 100%;
  width: 100%;
} 


  }